# Dependencies
node_modules

# Build output
dist
dist-ssr

# Logs
logs
*.log
npm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# Local env files
*.local

# System
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Gemini/Tool files
.gemini
.antigravity

# Nested repo clone
building-in-public
